<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#111">
    <title>Media Access</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type='text/css'>
    <link rel="manifest" href="{% static 'json/manifest.json' %}">
    <script src="{% static 'js/app.js' %}"></script>

</head>
<style type="text/css">

	
.mediaAcc{
    height: 100%;
    width: 20%;
    border: 2px solid black;
    border-radius: 7px;
    display: inline-block;
    margin-left: 10%;
}

td{
    padding-right: 60px;
}
</style>
<body>
        <div id="mySidenav" class="sidenav">
                
                <a href="/../">Booking</a>
                <a href="/../location/">Track your ride</a>
                <a href="#">Feedback</a>
                <a href="#">Media Access</a>
              </div>
    <header class="header">
            <p style="font-size:20px;cursor:pointer; margin:0; -webkit-tap-highlight-color: rgba(255, 255, 255, 0);" onclick="openNav()" id="nav">&#9776;</p>
        <h1 class="header_title" id="Bus_title"> Bus companion</h1>
        <button id="butRefresh" class="headerButton" aria-label="Refresh" onclick="butRefresh()"></button>
    </header>
    <main class='main'>
        <div id="container" >
            <center>
                <table>
                    <tr>
                        <td><a href="videos"><img src="../../static/images/media/images/movie.png" height=110 width="110" ></a></td>
                        <td><a href="music"><img src="../../static/images/media/images/music.png" height=110 width="110" ></a></td>
                        <td><a href="books"><img src="../../static/images/media/images/book.png" height=110 width="110" ></a></td>
                    </tr>
                    <tr>
                        <td><center><a href="videos" style="text-decoration: none;color: inherit;font-size: 20px;">Movies</a></center></td>
                        <td><center><a href="music" style="text-decoration: none;color: inherit;font-size: 20px;">Music</a></center></td>
                        <td><center><a href="books" style="text-decoration: none;color: inherit;font-size: 20px;">Books</a></center></td>
                    </tr>

                </table>
            </center>
        </div>
    
    </main>

    
</body>
</html>