<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Track your ride</title>
    <meta name="theme-color" content="#111">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pure CSS Progress Bars">
    <meta name="keywords" content="css, html, progress bar">

    {% load staticfiles %}
    
    <link rel="stylesheet" href='{% static "css/assets/css/cssprogress.css" %}'>
    <link rel="stylesheet" href='{% static "css/assets/css/style.css" %}'>
    <link rel="stylesheet" href='{% static "css/assets/fonts/font-awesome-4.5.0/css/font-awesome.min.css" %}'>    


    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type='text/css'>
    <link rel="manifest" href="{% static 'json/manifest.json' %}">
    <script src="{% static 'js/app.js' %}"></script>
    <script src="./../../static/js/app.js"></script>
    <link rel="stylesheet" href="./../../static/css/styles.css" type="text/css">
    <link href="{% static 'css/css-circular-prog-bar.css' %}" rel="stylesheet">
    <link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>


    <script>
                var directionDisplay;
              var directionsService = new google.maps.DirectionsService();
              var map;

              function func1(start,end) {
                directionsDisplay = new google.maps.DirectionsRenderer();
                var myOptions = {
                  mapTypeId: google.maps.MapTypeId.ROADMAP,
                }
                map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
                directionsDisplay.setMap(map);

                var request = {
                  origin:start, 
                  destination:end,
                  travelMode: google.maps.DirectionsTravelMode.DRIVING
                };
                directionsService.route(request, function(response, status) {
                  if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                    var myRoute = response.routes[0];
                    var txtDir = '';
                    for (var i=0; i<myRoute.legs[0].steps.length; i++) {
                      txtDir += myRoute.legs[0].steps[i].instructions+"<br />";
                    }
                    // document.getElementById('directions').innerHTML = txtDir;
                  }
                });
              }
    </script>
<script type="text/javascript">
    function func2(a){

            var directionsService = new google.maps.DirectionsService();
var b='{{t}} India';
            var request = {
              origin      : a, // a city, full address, landmark etc
              destination : '{{t}} India',
              travelMode  : google.maps.DirectionsTravelMode.DRIVING
            };
            directionsService.route(request, function(response, status) {
              if ( status == google.maps.DirectionsStatus.OK ) {
                window.distance2 = (response.routes[0].legs[0].distance.value)/1000
                // var min1 = (Number((distance1/60)%1)*60).toFixed(0)
                // document.getElementById('Dist1').innerHTML=(Number(distance1.toFixed(2))+' km' ); // the distance in metres
                // document.getElementById('time1').innerHTML=(Math.floor(distance1/60)+' hr. '+min1+' min.' );
              }
              else {
                // oops, there's no route between these two locations
                // every time this happens, a kitten dies
                // so please, ensure your address is formatted properly
              }
// return window.distance2; 

            });
        // break;
           return window.distance2; }
    
// var a1='0';
// var a2='0';
function func(a){
            // alert("hello1")
 
            var directionsService = new google.maps.DirectionsService();
var b='{{t}} India';
            var request = {
              origin      : a, // a city, full address, landmark etc
              destination : '{{t}} India',
              travelMode  : google.maps.DirectionsTravelMode.DRIVING
            };
            func1(a,b);
            directionsService.route(request, function(response, status) {
              if ( status == google.maps.DirectionsStatus.OK ) {
                window.distance1 = (response.routes[0].legs[0].distance.value)/1000
                var min1 = (Number((distance1/60)%1)*60).toFixed(0)
                document.getElementById('Dist1').innerHTML=(Number(distance1.toFixed(2))+' km left' ); // the distance in metres
                document.getElementById('time1').innerHTML=(Math.floor(distance1/60)+' hr. '+min1+' min. remaining' );
              }
              else {
                // oops, there's no route between these two locations
                // every time this happens, a kitten dies
                // so please, ensure your address is formatted properly
              }


          // return distance1; 
            });
        // break;
            return window.distance1;}


if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function (p) {
        var LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
        var mapOptions = {
            center: LatLng,
            zoom: 13,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var a1=p.coords.latitude;
        var a2= p.coords.longitude;
a=a1+','+a2;

func(a);
// console.log(desti);
func2('{{f}}');

function f(){
    a = Math.floor(((window.distance2 - window.distance1)/window.distance2)*100);
    if(a>=0){
    document.getElementById('percent1').innerHTML = a+'%';
    // document.getElementById('prog').data-percent = a;
    document.getElementById('prog').style.width = a+'%';
    }
    }
    setTimeout(function() {
        f();
    }, 10000);
// document.getElementById('Dist1').onload = f();
        // google.maps.event.addListener(marker, "click", function (e) {
        //     var infoWindow = new google.maps.InfoWindow();
        //     infoWindow.setContent(marker.title);
        //     infoWindow.open(map, marker);
        // });
    });
} else {
    alert('Geo Location feature is not supported in this browser.');
}
// alert("hello");
</script>

</head>
<body >
    <div>
        <div id="mySidenav" class="sidenav">
                
                <a href="/../" >Booking</a>
                <a href="#" >Track your ride</a>
                <a href="javascript:myFunction();" >Feedback</a>
                <a href="/../../media/" >Media Access</a>
              </div>
        <header class="header">
            <p class="noselect" id="nav" style="font-size:20px;cursor:pointer; bottom:57%; position:relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0);" onclick="openNav()" >&#9776;</p>
        <h1 class="header_title" id="Bus_title"> Track your ride</h1>
        <button title="Refresh" id="butRefresh" class="headerButton" aria-label="Refresh" onclick="butRefresh()"></button>
    </header>
    <main id="container">
        <div id="mainDiv">
            <h2  id="Dist1" style="text-align: center;"> </h2>
            <div class="cssProgress">
                <div class="progress1">
                    <div class="cssProgress-bar cssProgress-active" data-percent="75" id="prog" style="width: 0%;">
                        <span class="cssProgress-label" id="percent1">0%</span>
                    </div>
                </div>
            </div>
            <h2 id="time1" style="text-align: center;"> </h2>
        </div>
        <br><br>
        <div>
                <div id="map_canvas" style="width:100%;height:500px;"></div>
        </div>
    </main>
    </div>
</body>
</html>