<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#111">
    <title>Bus companion</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type='text/css'>
    <link rel="manifest" href="{% static 'json/manifest.json' %}">
    <script src="{% static 'js/app.js' %}"></script>
    <script>
    function get_BID(id){
        var val=document.getElementById(id).value;
        document.getElementById("busid").value=val;
    }
   

    </script>
    <style>
        td{
            border:2px solid black;
            text-align:center;
            padding:5px;
        }
        th{
            border:2px solid black;
            text-align:center;
            padding:5px;
            text-decoration: underline;
        }



    </style>
</head>
<body>
        <div id="mySidenav" class="sidenav">
            <a href="#">Booking</a>
            <a href="/location/">Track your ride</a>
            <a href="#">Feedback</a>
            <a href="/media/">Media Access</a>
        </div>
    <header class="header">
            <p class="noselect" id="nav" style="font-size:20px;cursor:pointer; bottom:57%; position:relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0);" onclick="openNav()" >&#9776;</p>
        <h1 class="header_title" id="Bus_title"> Bus companion</h1>
        <button title="Refresh" id="butRefresh" class="headerButton" aria-label="Refresh" onclick="butRefresh()"></button>
    </header>
    <main class='main'>
        <div id="container">
            <h2>
                Book your Ride
            </h2>
            <form id="bookingForm" onsubmit="return validateForm()" method="POST">
                {% csrf_token %}
                <label>From: </label>
                <input id="currentCity" type="text" placeholder="Enter current city" name="From"><br>
                <label for="">To: </label>
                <input id="destinationCity" type="text" placeholder="Enter destination city" name="To"><br>
                <label>Date</label>
                <input type="date" name="date">
                <input type="submit" value="Search!" id="submitButton">
                
            </form>
        
            <div id="buslist" >
                    {% if G %}
                    <br><br>
                    <h3>Select a ride!</h3>
                    <table  id= "table" align="center">
                        <tr>
                            <th>Bus Name</th>
                            <th>Bus Type</th>
                            <th>Departure Time</th>
                            <th>Arrival Time</th>
                            <th>Travel Time</th>
                            <th>Ratings</th>
                            <th>Seats</th>
                            <th>Price</th>
                            <th>Book</th>
                        </tr>
                        {% for i in G %}
                        <tr><td>{{i.bus_name}}</td>
                            <td>{{i.bus_type}}</td>
                            <td>{{i.dep_time}}</td>
                            <td>{{i.arr_time}}</td> 
                            <td>{{i.travel_time}}</td> 
                            <td>{{i.ratings}}</td> 
                            <td>{{i.seats}}</td> 
                            <td>{{i.price}}</td>
                            <td><input type="radio" id="{{i.id}}" onclick="get_BID(id)" name="bus_sel" value="{{i.id}}"></td>
                        </tr>
                        {% endfor %}
                    </table>
                        {% if G|length != 0 %}
                        <center>
                            <div>
                        <form method="POST" action="confirmbook" id="bookticket" >
                            <input type="Text" name="busid" id="busid" style="display:none;">
                            <input type="text" name="rfid" style="float:left;width:50%;margin-left:10%;" placeholder="Enter your RFID">
                            <input type="submit" value="Book Now" name="{{i.id}}" style="width:17%;"/>
                            <br>
                        </form>
                        </div>
                        </center>
                        {% endif %}
                        
                    {% endif %}

            </div>
        </div>
    </main>    
</body>
<!-- <script type="text/javascript">
     function f() {
        document.getElementById('container').style.height='auto';
    }
   document.getElementById('bookticket').onload = f();
</script> -->
</html>